{% extends "base.njk" %}

{% block titulo %}Lista de Pacientes{% endblock %}

{% block contenido %}
<h1>Lista de Pacientes</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.name }}</td>
            <td>{{ patient.surname }}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="/patients/{{ patient._id }}">Ver Detalles</a>
                <a class="btn btn-warning btn-sm" href="/patients/{{ patient._id }}/edit">Editar Paciente</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="/patients/find" method="get" class="form-inline">
    <input type="text" name="surname" class="form-control form-control-sm" placeholder="Apellido del paciente" style="width: 200px;">
    <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
</form>
<a class="btn btn-success" href="/patients/new">Agregar Paciente</a>
{% endblock %}
